<div class="container">
	 <div class="row justify-content-md-center">
	 	<div class="p-3 mb-2 bg-primary text-white">
	 		<h6>
				<%= @messages[0].house.name %> </br>
				<%= @messages[0].house.location %>
			</h6>
		<div>
	</div>
</div>

<div class="container w-75 p-3">
	<% @messages.each do |message| %>
		<% if User.find(message.messenger) != current_user %>
			<div class="p-3 mb-2 bg-warning text-dark">
  			<div class="row justify-content-md-center pl-3 pr-3">
      		<h6>
      			<%= User.find(message.messenger).email %> </br>
      			<%= message.created_at.to_time.to_s[0..-10] %> </br>
     				<%= message.message %>
     			<h6>
    		</div>
    	</div>
    <% else %>
    	<div class="p-3 mb-2 bg-light text-dark">
  			<div class="row justify-content-md-center pl-3 pr-3">
      		<h6>
      			<%= message.created_at.to_time.to_s[0..-10] %> </br>
     				<%= message.message %>
     			<h6>
    		</div>
    	</div>
    <% end %>
  <% end %>
 <div>

<div  class="p-3 mb-2 bg-white text-dark">
	<div class="container">
		<div class="row justify-content-md-center">
			<%= form_with scope: :chatbox_message, url:create_message_path(@sellerbuyer.id), local: true do |form| %>
  			<p>
    			<%= form.label :message %><br>
    			<%= form.text_area :message %>
  			</p>
  			<p>
    			<%= form.submit %>
  			</p>
			<% end %>
		</div>
	</div>
</div>