<p>
	A new buyer is keen to buy your house with the following details:
</p>

<p>
	Name: <%= @house.name %>
</p>

<p>
	Location: <%= @house.location %>
</p>

<p>
	Price: $<%= @house.price %>
</p>

<p>
	Bedrooms: <%= @house.bedrooms %>
</p>

<p>
	Bathrooms: <%= @house.bathrooms %>
</p>

<p>
	Floor Area: <%= @house.floor_area %>
</p>

<p>
	Furnishing: <%= @house.furnishing %>
</p>

<p>
	Floor Level: <%= @house.floor_levels %>
</p>

<p>
	Lease Left: <%= @house.lease_left %>
</p>

<p>
	The email of the buyer is: <%= @buyer.email %>
</p>