<%= form_with(model: house, local: true) do |form| %>
  <% if house.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(house.errors.count, "error") %> prohibited this house from being saved:</h2>

      <ul>
      <% house.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
  	<%= form.label :Upload %> <%= form.label :Image %>
		<%= form.file_field :image %>
  </div>

	  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>
  	<h6>Search for location:</h6>
    <div class = "searchBox">
		<input type="text" placeholder="Search Here!" class="search" onkeypress= "search(this)"/>
  	</div>
  	<div class = "searchResults">
  		<ul class = "resultslist">
  			</ul>
  	</div>

  <div class="field">
    <%= form.label :location %>
    <%= form.text_area :location ,:readonly => true%>
  </div>

  <div class="field" style="display:none">
    <%= form.label :lat %>
    <%= form.number_field :lat, step: :any %>
  </div>

  <div class="field" style="display:none">
    <%= form.label :long %>
    <%= form.number_field :long, step: :any %>
  </div>

  <div class="field">
    <%= form.label :price %>
    <%= form.number_field :price %>
  </div>

  <div class="field" >
    <%= form.label :bedrooms %>
    <%= form.number_field :bedrooms %>
  </div>

  <div class="field">
    <%= form.label :bathrooms %>
    <%= form.number_field :bathrooms %>
  </div>

  <div class="field">
    <%= form.label :floor_area %>
    <%= form.number_field :floor_area %>
  </div>

  <div class="field">
    <%= form.label :furnishing %>
    <%= form.check_box :furnishing %>
  </div>

  <div class="field">
    <%= form.label :floor_levels %>
    <%= form.number_field :floor_levels %>
  </div>

  <div class="field">
    <%= form.label :lease_left %>
    <%= form.number_field :lease_left %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>

<script>
	function search(ele){
		if(event.keyCode ==  32){
			console.log("space pressed")
		var input = ele.value;
		var user_input = input.toString().split(" ").join('%20');

	 var settings = {
   "async": true,
   "crossDomain": true,
   "url": "https://us1.locationiq.com/v1/search.php?key=pk.a152695d6750793ce3da9347d9567cdc&q=" + user_input + "&format=json",
   "method": "GET"
 	}
 	// Create Search Results and click event to the search results to update form
 	$.ajax(settings).done(function (response) {
 		document.querySelector(".resultslist").innerHTML = " ";
 		for(let i = 0 ; i < response.length ; i++){
			var node = document.createElement("Li");
			var textnode = document.createTextNode(response[i].display_name);
			node.addEventListener('click', function() {
				document.querySelector("#house_location").innerHTML = response[i].display_name;
				document.querySelector("#house_lat").value = parseFloat(response[i].lat);
				document.querySelector("#house_long").value = parseFloat(response[i].lon);
			});

			node.appendChild(textnode);
			document.querySelector(".resultslist").appendChild(node);
			 	}
 			});
 		}
	}
</script>