<p id="notice"><%= notice %></p>


<!--The div element for the map -->
<div id="map"></div>

<!-- generate a image for all the houses house.image generates the activestorage path -->
    <% @houses.each do |house| %>
    <p>house name: </p><%= house.name %>
    <%= image_tag(house.image) %>
<%end%>



<script>
  // Initialize and add the map
  var map;

  function initMap() {
    // The Binding of the infobox
    function bindInfoWindow(marker, map, infowindow, info) {
    marker.addListener('click', function() {
        infowindow.setContent(info);
        infowindow.open(map, this);
    });
}
    // The location of Singapore
    var sg = {lat: <%= @test_location[0] %>, lng: <%= @test_location[1] %>};
    //icon
    var icon = {
      url: 'https://bravovillas.com/wp-content/uploads/2015/01/map-marker-red-fat.png',
      scaledSize: new google.maps.Size(30, 30)
    };
    // The map, centered at Sg

    map = new google.maps.Map(
        document.getElementById('map'), {zoom: 11, center: sg});

    // Plot Markers
    // Add content box for each marker
    let i = 0
    <% @houses.each do |house| %>

    	marker = marker + i;
      var infowindow = new google.maps.InfoWindow();

      var marker = new google.maps.Marker({
        position: {lat: <%= house.lat %>, lng: <%= house.long %>},
        map: map,
        icon: icon
      })
// cannot get the image tag to work in google maps
      google.maps.event.addListener(marker,'click',function() {
          var infowindow = new google.maps.InfoWindow({
            content: "<h6> Name: <%= house.name %> </h6>" + "<h6> Price: <%= house.price %></h6>" + "<h6> Bedrooms: <%= house.bedrooms %></h6>" + "<h6> Bathrooms: <%= house.bathrooms %></h6>" + "<h6> Lease Left(years): <%= house.lease_left %></h6>" + "<h6> House posted by user: <%= house.user_id %></h6>" + '<%= link_to "For more details click here", "/houses/#{house.id}", {:class => "infowindow_link"} %>'
          });
          infowindow.open(map, this);
      });
    <% end %>
  		$(".infowindow_link").live('click', function(){
  	window.location.href=this.href;
		});
  	}
</script>




<!--Load the API from the specified URL
* The async attribute allows the browser to render the page while the API loads
* The key parameter will contain your own API key (which is not needed for this tutorial)
* The callback parameter executes the initMap() function
-->
<script async defer
src=<%= "https://maps.googleapis.com/maps/api/js?key=AIzaSyCf6D21vwDXz2lyqSU3Qx-FKGsu0gH8WNM&callback=initMap" %>>
</script>