<p id="notice"><%= notice %></p>


<!--The div element for the map -->
<div id="map"></div>




<script>
  // Initialize and add the map
  var map;
  var bounds;

  function initMap() {
    // The location of Singapore
    var sg = {lat: <%= @test_location[0] %>, lng: <%= @test_location[1] %>};
    // The map, centered at Sg
    map = new google.maps.Map(
        document.getElementById('map'), {zoom: 11, center: sg});
    // Plot Markers
    <% @houses.each do |house| %>
      var marker = new google.maps.Marker({
        position: {lat: <%= house.lat %>, lng: <%= house.long %>},
        map: map,
        icon: 'https://bravovillas.com/wp-content/uploads/2015/01/map-marker-red-fat.png'
      })
    <% end %>

  }

</script>






<!--Load the API from the specified URL
* The async attribute allows the browser to render the page while the API loads
* The key parameter will contain your own API key (which is not needed for this tutorial)
* The callback parameter executes the initMap() function
-->
<script async defer
src=<%= "https://maps.googleapis.com/maps/api/js?key=&callback=initMap" %>>
</script>