
<nav class="navbar align-middle p-0">
  <div class="navbar-brand">
    <%= link_to 'this.props', root_url %>
  </div>
  <ul class="list-inline m-0">
    <% if user_signed_in? %>
    	<li class="nav-item">
    		<%= link_to 'MyChatBox', messages_path %>
    	</li>
      <li class="nav-item">
   		 <%= link_to 'Favourites', favouritelist_path(current_user.id) %>
      </li>
      <li class="nav-item">
        <%= link_to 'Post a House', new_house_path %>
      </li>
      <li class="nav-item">
        <%= link_to 'Logout', destroy_user_session_url, method: :delete %>
      </li>
    <% else %>
      <li class="nav-item">
        <%= link_to 'Sign In', new_user_session_url %>
      </li>
      <li class="nav-item">
        <%= link_to 'Sign Up', new_user_registration_url %>
      </li>
    <% end %>
  </ul>
</nav>
<div class="container col-12">
    <% flash.each do |key, value| %>
        <div class="alert alert-<%= key %>"><%= value %></div>
    <% end %>
</div>