<!DOCTYPE html>
<html>
  <head>
    <title>Thisprops</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <style>
       /* Set the size of the div element that contains the map */
      #map {
        height: 400px;  /* The height is 400 pixels */
        width: 100%;  /* The width is the width of the web page */
       }
    </style>
  </head>

  <body>
    <div class="container">

      <%= render 'layouts/header' %>
      <%= yield %>
      <%= render 'layouts/footer' %>
  
    </div>
  </body>
</html>